.control {
    padding-bottom: 132px;

    &__d_pads {
        height: calc(709px - 15px - 102px);
        background-color: #292424;
        display: flex;
        padding-top: 15px;
        margin: 0 auto;
        padding-bottom: 102px;
        justify-content: space-between;
    }

    &__calibration {

        &__title {
            margin: 40px auto 32px;

        }

        &__inputs_container {
            display: flex;
            list-style: none;
            margin: 0;
            justify-content: center;
            padding: 0;
            gap: 56px;
            flex-wrap: wrap;
        }
    }
}