.header {
    background-color: #292424;
    position: fixed;
    padding: 24px calc(100vw / (1440/80)) 72px;
    right: 0;
    left: 0;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 30px;
        justify-content: center;

        &__links_container {
            justify-content: center;
            display: flex;
            width: calc(100% - 92px - 30px);
            padding-right: calc(92px + 30px);
            max-width: 1533.8px;

            @media (max-width: 767px) {
                padding-right: 0;
            }

            &__links {
                padding: 7px 261px 10px;
                background-color: #343333;
                display: flex;
                gap: 34px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 16px;
                line-height: 19.36px;
                border-radius: 8px;
                box-sizing: border-box;
            }

            @media (max-width: 2000px) {
                &__links {
                    padding: 7px 17% 10px;

                }
            }

            @media (max-width: 767px) {
                &__links {
                    padding: 7px 10% 10px;
                    gap: 20px;
                }
            }
        }

        &__logo {
            z-index: 1;
            transition: opacity 0.2s ease-in-out;
            max-height: 96px;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.5;
            }
        }
    }

    @media (max-width: 767px) {
        &__content {
            flex-direction: column;
        }
    }
}