.slider_form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    width: fit-content;

    @media (max-width: 1279px) {
        padding: 0 6%;
        align-items: center;
    }

    &__button_container {
        display: flex;
        justify-content: flex-end;
    }
}